@font-face {
    font-family: "mexicana";
    src: url("Fonts/cf_mexicana/CFMexicanaPERSONALUSE-Regul.ttf")
}

@font-face {
    font-family: "roboto";
    src: url("Fonts/roboto/Roboto-Regular.ttf")
}

@font-face {
    font-family: "rambler";
    src: url("Fonts/the_rambler/The Rambler.ttf")
}

* {
    margin: 0;
}

body {
    background-color: #F4F4F4;
    color: #141414;
}

main {
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#dark-mode {
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}


/* DARK MODE */

:root {
    --background-color: #F4F4F4;
    --text-color: #141414;
}

[data-theme="dark"] {
    --background-color: #141414;
    --text-color: #F4F4F4;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}